.title h1 {
  font-family: 'Montserrat', sans-serif;
  font-size:50px;
  padding-left:5px;
}

.title li {
  color:black;
}

.container {
  padding-top:70px;
}

.container .col-md-3 {
  padding:20px;
}

.row {
  margin:auto;
  padding-bottom:10px;
}

.footer{
  padding:5px;
  margin:auto;
}

.footer p{
  text-align:center;
}

.panel-body {
  font-size:12px;
}